.page-header {
    background-color: #47B522;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    width: 100%;
    }


.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    }


.content {
    width: 100%;
    }


h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    }


.date {
    float: right;
    color: #828282;
    }


.save {
    float: right;
    }


.post-form textarea, .post-form input {
    width: 100%;
    }


.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    }


.post, .info {
    margin-bottom: 70px;
    }


.post h1 a, .post h1 a:visited {
    color: #000000;
    }


.edit {
    float: right;
    margin-right: 5px;
    }


.publish {
    float: right;
    margin-right: 5px;
    }


.remove {
    float: right;
    margin-right: 5px;
    }


.page-header p {
    color: #D42424;
    }


.page-header a {
    margin-top: 5px;
    }


#logout {
    color: #D42424;
    }


.comment {
    margin: 20px 0px 20px 20px;
    }


html {
    position: relative;
    min-height: 100%;
    width: 100%;
    }


body {
    margin-bottom: 60px;
    width: 100%;
    }


.left-column {
    padding: 0 0 0 40px;
    width: 65%;
    float: left;
    }


.row {
    width: 100%;
    }


.right-column {
    padding: 0 20px 0 10px;
    width: 35%;
    float: right;
    }


.table_about_me, .table_info_about_me {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }


.table_about_me td {
    border: 5px solid #AFF099;
    text-align: left;
    padding: 8px;
    }


.table_about_me td:nth-child(odd) {
    background-color: #AFF099;
    }


#tr_span td {
    text-align: center;
    }


.table_info_about_me td {
    border: 5px solid black;
    text-align: center;
    padding: 8px;
    }


.table_info_about_me tr:nth-child(odd) {
    background-color: #6B6D6E;
    color: white;
    font-weight: bold;
    }


.photo_me {
    border-radius: 94px 94px 94px 94px;
    float: left;
    margin: 6px;
    }