{% load staticfiles %}
<html>
    <head>
        <title> Blog Pelora </title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu" title="Add new post"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu" title="Edit unpublished posts"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="{% url 'logout' %}" class="top-menu" id="logout" title="Logout"><span class="glyphicon glyphicon-off"></span></a>
                <p class="top-menu">Hello {{ user.username }} -</p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu" title="Unlock options"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1><a href="/">Blog Pelora</a><h1>
        </div>
        <div class="content container">
            <div class="left-column">
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="right-column">
                <div class="row">
                    {% block right_column_content %}
                    {% endblock right_column_content%}
                </div>
            </div>
        </div>
        {% include "footer/footer.html" %}
    </body>
</html>