<html>
    <head>
        <title> Blog Pelora </title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog Pelora</a></h1>
        </div>

        <div>
            <p>published: 10.05.2016, 21:32</p>
            <h2><a href="">My first post</a></h2>
            <p>Ni­hil est in in­tellec­tu quin prius fuerit in sen­su.<br />~Nie ma nic w umyśle, cze­go by przed­tem nie było w zmysłach.</p>
        </div>

        <div>
            <p>published: 10.05.2016, 21:42</p>
            <h2><a href="">My second post</a></h2>
            <p>Mi­nus no­bis vi­demur pos­se, quam pos­su­mus.<br />~Wy­daje się nam, że mniej możemy, niż możemy.</p>
        </div>
    </body>
</html>